.bar{
    width:30px;
    height: 4px;
    background-color: white;
    margin-top: 5px;
    cursor: pointer;
}
.dis-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    gap: 20px;
}
.text-block{
    position: relative;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
}
.img-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,300px));
    gap:20px;
    justify-content: center;
}
@media screen and (max-width:782px){
    .width-effect{
        width: 100%;
        padding: 10px;
    }
}
@media screen and (min-width:782px){
    .width-effect{
        width: 75%;
    }
}